#!/usr/bin/env bash

# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias c="composer"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

alias phpc="docker compose -f docker-compose.yml -f docker-compose.macos.yml exec php"
